@viewport {
    width: device-width;
    zoom: 1.0;
}
@media screen and (min-width:900px) {
    /* CSS for screens that are 320 pixels or less will be put in this section*/
}
.inner
{
    display: flex;
    width : 512;
 
    
}
